@namespace NutrisBlazor.Components.Shared
@using Microsoft.AspNetCore.Components
<link href="/css/ProductLabel.css" rel="stylesheet" />
<link href="/css/fonts.css" rel="stylesheet" />

<div class="product-label-container">
    <div class="product-label">
        <div class="label-row">
            <span class="label-title">PRODUCT NAME:</span>
            <span class="label-value">@ProductName</span>
        </div>
       @*  <div class="label-row">
            <span class="label-value">@ProductName</span>
        </div>
 *@
        <div class="label-row">
            <span class="label-title">BATCH: </span>
            <span class="label-value">@BatchNumber</span>
        </div>

        <div class="label-row">
            <span class="label-title">EXP. DATE: </span>
            <span class="label-value">@ExpirationDate</span>
        </div>

        <div class="label-row">
            <span class="label-title">QUANTITY:</span>
            <span class="label-value">@Quantity</span>
        </div>

       
    </div>
</div>

@code {
    [Parameter] public string ProductName { get; set; } = "(Xpc/jar)";
    [Parameter] public string BatchNumber { get; set; } = "YY_XX";
    [Parameter] public string ExpirationDate { get; set; } = "DD/MM/YYYY";
    [Parameter] public string Quantity { get; set; } = "";
}


